body {
  max-width: 1600px !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#mySidebar {
  z-index: 3;
  width: 300px;
}
header a img {
  width: 65px;
}

.w3-round {
  width: 45%;
}

.w3-main {
  margin-left: 300px;
}

.w3-container a img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
