body {
  background-image: url("./images/mountains.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ensure the element's height matches the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-side {
  background: url("./images/temple.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  color: white;
  padding: 1rem;
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.quote p {
  font-size: 1.5rem;
  word-spacing: 0.4rem;
  font-weight: bold;
}
.quote-author {
  text-align: right;
}

.card {
  border: none;
  border-radius: 2%;
  overflow: hidden;
  background-color: #f2f2f2;
}

.form-check-label {
  font-size: 12px;
}

.form-side {
  padding: 200px;
}
